.custom-range {
	cursor: pointer;
	--persent-min: 0%;
	--persent-max: 0%;
	--width-line: 1px;
	--width-pen: 1px;
	--pen-min: calc(var(--persent-min) - var(--width-pen) / 2);
	--pen-max: calc(var(--persent-max) - var(--width-pen) / 2);
	position: relative;
	outline: none;
	padding: 10px var(--width-pen);
	padding-bottom: 9px;
}

.custom-range:before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: var(--width-line);
	background: #6B6C70;
	pointer-events: none;
}

.custom-range__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.custom-range__min,
.custom-range__max {
	display: none;
}

.custom-range__line {
	position: relative;
	height: var(--width-line);
	background: linear-gradient(to right, #9f9f9f var(--pen-min), #6B6C70 var(--pen-min), #6B6C70 var(--pen-max), #9f9f9f var(--pen-max));
	pointer-events: none;
}

.custom-range__line:before,
.custom-range__line:after {
	content: "";
	position: absolute;
	z-index: 3;
	top: 50%;
	width: var(--width-pen);
	height: 8px;
	transform: translateY(-50%);
	background: #6B6C70;
	pointer-events: none;
}

.custom-range__line:before {
	left: var(--pen-min);
}

.custom-range__line:after {
	left: var(--pen-max);
}

.custom-range__min-value,
.custom-range__max-value {
	border: none;
	padding-right: 5px;
	-moz-appearance: textfield;
}

.custom-range__min-value::-webkit-outer-spin-button,
.custom-range__min-value::-webkit-inner-spin-button,
.custom-range__max-value::-webkit-outer-spin-button,
.custom-range__max-value::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.custom-range__desc {
	font-size: 12px;
	line-height: 1.2;
	color: #9F9F9F;
	text-transform: uppercase;
}

