.popup {
	position: fixed;
	z-index: 16;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #fff;
	z-index: 20;
	transition: 0.3s opacity, 0.3s visibility;
}

.popup--size {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(202, 203, 206, 0.5);
}

.popup__block {
	width: 100%;
	height: 100%;
	padding: 20px 30px;
	overflow-y: auto;
	overflow-x: hidden;
}

.popup__block--elem {
	position: relative;
	max-width: 545px;
	height: initial;
	background-color: #fff;
	margin: 0 20px;
}

.popup--menu {
	display: none;
}

.popup--filter {
	display: none !important;
}

.popup--filter .select__placeholder {
	color: #3D3F42;
	padding-left: 0px;
}

.popup--filter .select__wrap {
	margin-top: -10px;
	margin-bottom: 30px;
}

.popup--filter .select__wrap:after {
	right: 2px;
	border-color: #3D3F42;
}

.popup--active {
	opacity: 1;
	visibility: visible;
}

.popup .main-header__list {
	display: block;
	padding-top: 65px;
}

.popup .main-header__link {
	color: #3D3F42;
}

.popup .main-header__lang {
	margin-bottom: 21px;
}

.popup__close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 18px;
	height: 18px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0px;
}

.popup__close:after,
.popup__close:before {
	content: '';
	position: absolute;
	top: 9px;
	left: 1px;
	width: 18px;
	height: 2px;
	background-color: #000;
	transition: 0.3s background-color;
}

.popup__close:after {
	transform: rotate(45deg);
}

.popup__close:before {
	transform: rotate(-45deg);
}

.popup__close:hover:after,
.popup__close:hover:before {
	background-color: #9f9f9f;
}

.popup__holder {
	position: relative;
	padding-right: 125px;
}

.popup__image img {
	display: block;
	width: 100%;
	height: 100%;
}

.popup__wrap-table {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 100%;
	max-width: 340px;
}

.popup__table {
	width: 100%;
}

.popup__table thead {
	border-bottom: 1px solid #000;
}

.popup__table th {
	padding-bottom: 8px;
	font-weight: 500;
}

.popup__table td {
	padding: 8px 0;
}

.popup__table th,
.popup__table td {
	font-size: 12px;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
}

.popup__title {
	font-size: 14px;
	line-height: 1.2;
	color: #3D3F42;
	padding-bottom: 36px;
	font-weight: 600;
}

.popup__wrap {
	padding-top: 65px;
	padding-bottom: 14px;
	margin-bottom: 40px;
	border-bottom: 1px solid #E8E8E8;
}

.popup__item:not(:last-child) {
	margin-bottom: 11px;
}

.popup__cat {
	cursor: pointer;
	user-select: none;
	position: relative;
	margin-bottom: 24px;
}

.popup__cat:after,
.popup__cat:before {
	position: absolute;
	content: '';
	background-color: #6B6C70;
	transition: 0.3s opacity;
}

.popup__cat:after {
	top: 8px;
	right: 0px;
	width: 18px;
	height: 2px;
}

.popup__cat:before {
	opacity: 1;
	top: 0px;
	right: 8px;
	width: 2px;
	height: 18px;
}

.popup__cat--active:before {
	opacity: 0;
}

.popup__submenu {
	margin-bottom: 22px;
}

.popup__elem {
	display: none;
}

.popup__elem:checked + .popup__desc:after {
	background-color: #3d3f42;
	border-color: #3d3f42;
}

.popup__elem:checked + .popup__desc:before {
	background-image: url(img/icons/check.svg);
}

.popup__info {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.popup__info .main-header__lang {
	margin-bottom: 0;
	min-height: auto;
}

.popup__info .language-chooser {
	position: static;
}

.popup__desc {
	display: inline-block;
	user-select: none;
	position: relative;
	font-size: 14px;
	line-height: 1.2;
	color: #6B6C70;
	padding: 4px 0;
	padding-left: 35px;
}

.popup__desc:after {
	position: absolute;
	content: ' ';
	top: 2px;
	left: 0px;
	width: 20px;
	height: 20px;
	background-color: transparent;
	border: 1px solid #cacbce;
	border-radius: 4px;
}

.popup__desc:before {
	position: absolute;
	z-index: 2;
	content: ' ';
	top: 6px;
	left: 3px;
	width: 16px;
	height: 16px;
	background-image: none;
	background-repeat: no-repeat;
	background-size: 16px;
}

.popup .btn--basket {
	max-width: 298px;
	margin-bottom: 28px;
}

@media screen and (max-width: 840px) {

.popup--menu {
	display: block;
}

.popup--filter {
	display: initial !important;
}

}

@media screen and (max-width: 480px) {

.popup__holder {
	padding-right: 0px;
}

.popup__wrap-table {
	position: static;
	max-width: 100%;
	margin-top: 20px;
}

}

