.single {
	background-color: #fff;
}

.single__wrap {
	display: flex;
	flex-wrap: wrap;
	padding: 80px 0;
	margin: 0 -20px;
}

.single__item {
	position: relative;
	width: calc(100% / 2 - 40px);
	margin: 0 20px;
}

.single__item:last-child {
	padding-left: 105px;
}

.single__item .shop__add {
	top: 10px;
	left: 10px;
	z-index: 1;
	width: 38px;
	height: 38px;
	background-color: #fff;
	border-radius: 50%;
}

.single__item .shop__icon {
	width: 18px;
}

.single__tab {
	display: none;
}

.single__tab--active {
	display: block;
}

.single__big img {
	display: block;
}

.single__user {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
}

.single__user .slick-track {
	display: flex;
	align-items: flex-start;
}

.single__user .slick-arrow {
	position: absolute;
	top: calc(50% - 19px);
	cursor: pointer;
	display: block;
	width: 38px;
	height: 38px;
	padding: 0;
	background-color: rgba(255, 255, 255, 0.6);
	border: none;
	outline: none;
	z-index: 1;
	transition: 0.3s opacity, 0.3s visibility;
}

.single__user .slick-arrow:after {
	position: absolute;
	content: ' ';
	width: 10px;
	height: 10px;
	top: calc(50% - 5px);
	left: calc(50% - 3px);
	border-left: 2px solid #6B6C70;
	border-top: 2px solid #6B6C70;
	transform: rotate(-45deg);
}

.single__user .slick-arrow.slick-disabled {
	opacity: 0;
	visibility: hidden;
}

.single__user .slick-prev {
	left: 0;
}

.single__user .slick-next {
	right: 0;
	transform: scaleX(-1);
}

.single__pic {
	min-height: 300px;
}

.single__pic img {
	display: block;
	margin: 0 auto;
}

.single__slider .slick-list {
	position: relative;
	margin: 0 -20px;
}

.single__slider .slick-list:after,
.single__slider .slick-list:before {
	content: '';
	position: absolute;
	top: 0;
	right: -5px;
	width: 25px;
	height: 100%;
	background-color: #fff;
	z-index: 1;
}

.single__slider .slick-list:after {
	right: -5px;
}

.single__slider .slick-list:before {
	left: -5px;
}

.single__gallery .slick-track {
	display: flex;
	align-items: center;
}

.single__tab--new {
	display: flex;
}

.single__big--new {
	position: relative;
	width: calc(100% - 150px);
}

.single__gal--big .slick-arrow {
	position: absolute;
	top: 270px;
	cursor: pointer;
	display: block;
	width: 38px;
	height: 38px;
	padding: 0;
	background-color: rgba(255, 255, 255, 0.6);
	border: none;
	outline: none;
	z-index: 1;
	transition: 0.3s opacity, 0.3s visibility;
}

.single__gal--big .slick-arrow:after {
	position: absolute;
	content: ' ';
	width: 10px;
	height: 10px;
	top: calc(50% - 5px);
	left: calc(50% - 3px);
	border-left: 2px solid #6B6C70;
	border-top: 2px solid #6B6C70;
	transform: rotate(-45deg);
}

.single__gal--big .slick-arrow.slick-disabled {
	opacity: 0;
	visibility: hidden;
}

.single__gal--big .slick-prev {
	left: 0;
}

.single__gal--big .slick-next {
	right: 0;
	transform: scaleX(-1);
}

.single__small {
	order: -1;
	width: 150px;
	padding-right: 15px;
}

.single__small .single__box {
	width: 100%;
	height: 175px;
	margin: 0 0 15px;
}

.single__small .single__box img {
	object-fit: contain;
	object-position: top center;
}

.single__box {
	width: calc(100% / 3 - 40px);
	height: 172px;
	cursor: pointer;
	margin: 0 20px;
	margin-bottom: 40px;
}

.single__box img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.single__title {
	font-size: 28px;
	line-height: 1.2;
	padding-bottom: 38px;
	font-weight: 600;
}

.single__price {
	font-size: 20px;
	line-height: 1.2;
	text-transform: uppercase;
	padding-bottom: 18px;
	font-weight: 600;
}

.single__text p {
	font-size: 18px;
	line-height: 1.56;
	color: #6B6C70;
	padding-bottom: 24px;
}

.single__holder {
	display: flex;
	align-items: center;
	padding-bottom: 9px;
	margin: 0 -8px;
}

.single__elem {
	width: 32px;
	height: 32px;
	margin: 0 8px;
	margin-bottom: 15px;
}

.single__input {
	display: none;
}

.single__input:checked + label {
	box-shadow: 0 0 0 2px #fff, 0 0 0 3px #000;
}

.single__label {
	cursor: pointer;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	border: 1px solid #6B6C70;
}

.single__line {
	cursor: pointer;
	user-select: none;
	width: max-content;
	font-size: 12px;
	line-height: 1.2;
	color: #9f9f9f;
	background-image: url(img/icons/hint-text.svg);
	background-size: 15px 16px;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 23px;
	margin-left: auto;
	margin-bottom: 10px;
	font-weight: normal;
}

.single__container {
	position: relative;
}

.single__wrap-btn {
	border-top: 1px solid #9f9f9f;
	border-bottom: 1px solid #9f9f9f;
	margin-bottom: 24px;
}

.single__info {
	cursor: pointer;
	user-select: none;
	display: block;
	width: 100%;
	font-size: 14px;
	line-height: 1.2;
	text-transform: uppercase;
	border-radius: 4px;
	padding: 12px 20px;
	transition: 0.3s background-color;
}

.single__add-info {
	user-select: none;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-size: 12px;
	line-height: 1.2;
	color: #9f9f9f;
}

.single__point {
	display: none;
}

.single__point:checked + .single__info {
	background-color: #e8e8e8;
}

.single__point:disabled + .single__info {
	cursor: default;
}

.single__error {
	color: #cc0000;
	padding-bottom: 16px;
}

.single__content p {
	font-size: 14px;
	line-height: 1.4;
	color: #3D3F42;
	margin-bottom: 20px;
}

.single__content p span {
	color: #c9c9c9;
	padding-left: 5px;
}

.single__content a {
	display: inline-block;
	color: #c9c9c9;
	margin-left: 5px;
	text-decoration: underline;
}

.single__content a:hover {
	text-decoration: none;
}

.single__content--delivery {
	border-bottom: 1px solid #E8E8E8;
}

.single__content--delivery p {
	margin-bottom: 24px;
}

.single__row {
	padding-bottom: 12px;
}

.single__row p {
	font-size: 14px;
	line-height: 1.7;
	color: #c9c9c9;
	margin-bottom: 4px;
}

.single__socials {
	display: flex;
	align-items: center;
	padding-top: 22px;
}

.single__desc {
	font-size: 14px;
	line-height: 1.4;
	color: #3D3F42;
	margin-right: 40px;
}

.single__list {
	display: flex;
	align-items: center;
}

.single__col {
	display: block;
	font-size: 14px;
	line-height: 1.4;
	color: #9f9f9f;
	text-transform: uppercase;
	margin-right: 40px;
	transition: 0.3s color;
}

.single__col:hover {
	color: #3D3F42;
}

.single__dots-list {
	display: flex;
	align-items: center;
	width: 100%;
	height: 4px;
	background-color: #e8e8e8;
}

.single__dots-list li {
	position: relative;
	cursor: pointer;
	font-size: 0px;
	flex: 1;
	height: 4px;
	background-color: inherit;
}

.single__dots-list li:after {
	position: absolute;
	content: ' ';
	top: calc(50% - 8px);
	left: 0px;
	height: 16px;
	width: 100%;
	background-color: transparent;
}

.single__dots-list li.slick-active {
	position: relative;
}

.single__dots-list li.slick-active:before {
	position: absolute;
	content: ' ';
	top: calc(50% - 2px);
	left: 0px;
	height: 4px;
	width: 100%;
	background-color: #cacbce;
}

.single__controls-list {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 4px;
	background-color: #e8e8e8;
}

.single__controls-list li {
	position: relative;
	cursor: pointer;
	font-size: 0px;
	flex: 1;
	height: 4px;
	background-color: inherit;
}

.single__controls-list li:after {
	position: absolute;
	content: ' ';
	top: calc(50% - 8px);
	left: 0px;
	height: 16px;
	width: 100%;
	background-color: transparent;
	z-index: 1;
}

.single__controls-list li.slick-active {
	position: relative;
}

.single__controls-list li.slick-active:before {
	position: absolute;
	content: ' ';
	top: calc(50% - 2px);
	left: 0px;
	height: 4px;
	width: 100%;
	background-color: #cacbce;
}

.single__relative {
	font-size: 28px;
	line-height: 1.2;
	padding-bottom: 38px;
	font-weight: 600;
}

.single__tabs {
	position: relative;
}

@media screen and (max-width: 1250px) {

.single__item:last-child {
	padding-left: 0px;
}

.single__gal--big .slick-arrow {
	top: 230px;
}

}

@media screen and (max-width: 1150px) {

.single__gal--big .slick-arrow {
	top: 200px;
}

}

@media screen and (max-width: 960px) {

.single__wrap {
	padding: 45px 0;
	margin: 0px;
}

.single__item {
	width: 100%;
	margin: 0px;
}

.single__item:first-child {
	margin-bottom: 14px;
}

.single__item .shop__add {
	top: 10px;
	left: 10px;
}

.single__user {
	margin-bottom: 16px;
}

.single__slider {
	display: none;
}

.single__big--new {
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
}

.single__gal--big {
	margin-bottom: 20px;
}

.single__gal--big .slick-arrow {
	top: 250px;
}

.single__small {
	display: none;
}

.single__title {
	font-size: 24px;
	padding-bottom: 24px;
}

.single__price {
	font-size: 17px;
}

.single__text p {
	font-size: 16px;
}

.single__content p {
	margin-bottom: 10px;
}

.single__content--delivery p {
	margin-bottom: 22px;
}

.single__controls-list {
	position: static;
	margin: 0 -4px;
	background-color: transparent;
	justify-content: center;
}

.single__controls-list li {
	flex: unset;
	width: 8px;
	height: 8px;
	background-color: #e8e8e8;
	border-radius: 13px;
	margin: 0 4px;
}

.single__controls-list li:after {
	display: none;
}

.single__controls-list li.slick-active {
	background-color: #9f9f9f;
}

.single__controls-list li.slick-active:before {
	display: none;
}

.single__relative {
	font-size: 24px;
	padding-bottom: 24px;
}

}

@media screen and (max-width: 780px) {

.single__wrap {
	padding: 30px 0;
}

.single__title {
	font-size: 20px;
	padding-bottom: 16px;
}

.single__price {
	font-size: 14px;
}

.single__text p {
	font-size: 14px;
	line-height: 1.45;
}

.single__relative {
	font-size: 20px;
	padding-bottom: 16px;
}

}

@media screen and (max-width: 560px) {

.single__pic {
	height: auto;
}

.single__pic img {
	object-fit: cover;
	object-position: center;
	max-width: unset;
	width: 100%;
	height: 100%;
}

}

@media screen and (max-width: 480px) {

.single__gal--big .slick-arrow {
	top: 215px;
}

}

@media screen and (max-width: 400px) {

.single__gal--big .slick-arrow {
	top: 170px;
}

}

