@import 'responsive'

.collection
	background-color: #fff
	padding-bottom: 80px
	+media(mdx)
		padding-bottom: 50px
	+media(smdx)
		padding-bottom: 40px
	&__wrap
		display: grid
		grid-template-columns: repeat(3, 1fr)
		grid-gap: 40px
		padding-top: 80px
		padding-bottom: 40px
		+media(mdx)
			padding-top: 50px
		+media(smdx)
			grid-template-columns: repeat(2, 1fr)
			padding-top: 0px
		+media(sm)
			grid-template-columns: 100%

	&__item
		height: 0px
		padding-top: 150%
		background-repeat: no-repeat
		background-size: cover
		background-position: top center
		
	&--inner	
		.collection__wrap
			+media(sm)
				grid-template-columns: repeat(2, 1fr)	
				grid-gap: 16px